
@{
    ViewBag.Title = "HW1";
}

<h2>HW1</h2>

<div>
    <p>
        姓名:<input type="text" name="name" value="" />
    </p>
    <p>
        帳號:<input type="text" name="name" value="" />
    </p>

    <p>
        密碼:<input type="password" name="name" value="" />
    </p>
</div>

<div>
    <p>
        性別:
        <input type="radio" name="gender" value="A" />男
        <input type="radio" name="gender" value="B" />女
    </p>

</div>

<div>
        興趣:
        <input type="checkbox" name="name" value="A" />游泳 
        <input type="checkbox" name="name" value="A" />閱讀
        <input type="checkbox" name="name" value="B" />看電影
</div>
<div>
        自我介紹:
        <textarea name="message" rows="2" cols="30"></textarea>
</div>
