
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>阿爹der傻女兒💕</p>

<h3>我是新生，今天是我入學後第1214天</h3>
<h3>I am a <i>Gooooooood</i> student. <br><b>Pie apple</b></h3><br><br><br>

<button>click me!</button><br>

<a href="/Home/About">connect to About</a><br>
<a href="https://google.com">connect to Google</a><br>
<img src="https://www.apple.com/v/apple-events/home/s/images/september-2021/meta/og__fodnljjkwl6y.jpg?202110170236" alt="Alternate Text" />

<ul>
    <li>item 1</li>
    <li>item 2</li>
    <li>item 3</li>
</ul>

@DateTime.Now

@{ 
    var amout = 10;
    var isValid = true;
}

<div>Amout number: @amout</div>

@if (isValid)
{
<div>isValid is :@isValid</div>

}

<div>
    the amount count :
    @for (int i = 0; i < amout; i++)
    {
    <p>i: @i</p>
    }
</div>